.table-column {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto Mono", monospace;
}
th {
    font-weight: 700; 
}
td {
    font-weight: 200;
}
