<div class="container-fluid">
  <div class="row">
    <div class="table-column">
      <h1 class="text-center"></h1>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Plates</th>
            <th>State</th>
            <!-- <th>Capitol</th> -->
            <!-- <th>ID</th> -->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let state of states$ | async">
            <td>
              <img
                class="img-fluid"
                src="{{ state.plates }}"
                alt="Responsive image"
              />
            </td>

            <a [title]="state.capital" [routerLink]="['/states', state._id]">
              {{ state.name | titlecase }}
            </a>

            <!-- <td>{{ state.capital | titlecase }}</td> -->
            <!-- <td>{{ state._id }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
