<nav class="navbar sticky-top navbar-light bg-dark justify-content-center">
  <ul class="nav mx-auto">
    <li class="nav-item">
      <a class="navbar-brand" href="/"><h2 class="title-text">Quiz App</h2></a>
    </li>
    <li class="nav-item">
      <button
        (click)="resetGame()"
        type="button"
        id="start-button"
        class="btn btn-outline-light"
      >
        New Game
      </button>
    </li>
  </ul>
</nav>
<div class="hud-container justify-content-center">
  <ul class="nav">
    <li class="nav-item">
      <h3 id="left" class="hud-text pt-1">Score: {{ (score / 100) * 100 }}%</h3>
    </li>
    
    <li class="nav-item">
      <h3 id="right" class="hud-text pt-1">Time: {{ 60 - timeLeft }} sec</h3>
    </li>
  </ul>
</div>
<div class="loader-container" *ngIf="loaderService.isLoading | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="page py-3 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
      <div *ngFor="let state of states" class="col">
        <div class="card shadow-sm">
          <div class="image-container"><img
            (click)="state.visible = !state.visible"
            class="img-fluid"
            src="{{ state.flags }}"
            alt="Responsive image"
          /></div>
          <div class="card-body">
            <div class="question">
              <h2 class="text-center">
                What is the capital of {{ state.name | titlecase }}?
              </h2>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group mx-auto">
                <button
                  class="btn btn-outline-secondary"
                  id="answer-button"
                  (click)="compareSelection(state.choice1, state.capital)"
                  [ngStyle]="state.choice1 === selectedChoice ? btnStyle : {}"
                >
                  {{
                    state.choice1 === selectedChoice
                      ? btnMessage
                      : (state.choice1 | titlecase)
                  }}
                </button>
                <button
                  class="btn btn-outline-secondary"
                  id="answer-button"
                  (click)="compareSelection(state.choice2, state.capital)"
                  [ngStyle]="state.choice2 === selectedChoice ? btnStyle : {}"
                >
                  {{
                    state.choice2 === selectedChoice
                      ? btnMessage
                      : (state.choice2 | titlecase)
                  }}
                </button>
                <button
                  class="btn btn-outline-secondary"
                  id="answer-button"
                  (click)="compareSelection(state.choice3, state.capital)"
                  [ngStyle]="state.choice3 === selectedChoice ? btnStyle : {}"
                >
                  {{
                    state.choice3 === selectedChoice
                      ? btnMessage
                      : (state.choice3 | titlecase)
                  }}
                </button>
                <button
                  class="btn btn-outline-secondary"
                  id="answer-button"
                  (click)="compareSelection(state.choice4, state.capital)"
                  [ngStyle]="state.choice4 === selectedChoice ? btnStyle : {}"
                >
                  {{
                    state.choice4 === selectedChoice
                      ? btnMessage
                      : (state.choice4 | titlecase)
                  }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
