<div class="wrapper">
  <div class="inner">
    <div class="image-holder">
      <img src="assets/tennis-court.jpg" alt="" />
    </div>
    <form action="">
      <h3>Sign Up</h3>
      <div class="form-holder active">
        <input type="text" placeholder="name" class="form-control" />
      </div>
      <div class="form-holder">
        <input type="text" placeholder="e-mail" class="form-control" />
      </div>
      <div class="form-holder">
        <input
          type="password"
          placeholder="Password"
          class="form-control"
          style="font-size: 15px"
        />
      </div>

      <div class="form-login">
        <button>Sign up</button>
      </div>
    </form>
  </div>
</div>
