<div class="container mx-auto" style="max-width: 850px">
    <div class="row flex-md-row-reverse">
      <div class="col-md-6 text-center">
        <div class="form-container p-5">
          <img src="assets/logo.png" width="120px" class="img-fluid mt-5 mb-3" alt="Your Image" />
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-md-6 p-3">
        <img src="assets/tennis.png" class="img-fluid" alt="Your Image" />
      </div>
    </div>
  </div>
