.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  .dashboard-container {
    background-color: #dfe6e9;
    width: 50%;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
  }